body {
    margin: 0;
    background: #050505;
    font-family: 'Courier New', monospace;
    color: #00ff00;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    text-shadow: 0 0 15px #00ff00;
}

/* DISPLAY GRANDE */
.display {
    font-size: 60px;
    margin: 20px;
    padding: 20px;
    border: 3px solid #00ff00;
    box-shadow: 0 0 20px #00ff00;
    background: black;
}

/* GRÁFICO */
canvas {
    background: #111;
    margin: 20px auto;
    width: 80% !important;
    max-width: 800px;
}

/* TABELA */
.painel {
    width: 85%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #00ff00;
    padding: 10px;
}

tr:hover {
    background: #002200;
}